body{
	background-color : rgb(204, 204, 204);
    padding: 10px;
}
h1, h2, h3{
	text-align : center;
}
li{
	list-style-type : none;
}
a{
	text-decoration-line : none;
}
.player_one{
	height:400px;
}
.player_one,.player_two{
	width:600px;
	background-color: rgb(255, 255, 255); 
}
#container{
    
	background-color : rgb(255, 255, 255); 
	padding : 10px; 
	border-radius : 10px;
}
#playlist{
	background-color : rgb(255, 255, 255); 
	padding : 10px; 
	border-radius : 10px;
}
/*  your css code here. If applicable */
